<h3>{{title}}</h3>

<div class="row">


    
    <mat-form-field class="col-12">
        <mat-label>Filtro de Busqueda</mat-label>
        <input matInput 
            placeholder="Realice su busqueda por nombre, apellidos, entre otros datos" #input 
            (input)="applyFilter()">
            
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="detalles" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

            <!-- Definiciones de columnas -->
        <ng-container matColumnDef="detalleId">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let detalle"> {{detalle.detalleId}} </td>
        </ng-container>

        <ng-container matColumnDef="pedidoId">
            <th mat-header-cell *matHeaderCellDef> Pedido ID </th>
            <td mat-cell *matCellDef="let detalle"> {{detalle.pedidoId}} </td>
        </ng-container>

        <ng-container matColumnDef="producto">
            <th mat-header-cell *matHeaderCellDef> Producto </th>
            <td mat-cell *matCellDef="let detalle"> {{detalle.producto}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let detalle"> {{detalle.cantidad}} </td>
        </ng-container>

        <ng-container matColumnDef="precioUnitario">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let detalle"> {{detalle.precioUnitario}} </td>
        </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No existe informacion con el valor "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [length]="totalItems" [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Seleccionar pagina de detalles"></mat-paginator>
    </div>
</div>